{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Story 6 | Aditya</title>
</head>
<body>
    <div class="kontainer">
        <h1>Welcome to my Website</h1>
        <div class="toggle-containter">
            <input type="checkbox" class="switcher" id="switch" name="switch" /><label for="switch"></label>
        </div>
        <dl class="accordion">
            <dt><a href="">Aktivitas</a></dt>
            <dd>Procrastinating <br>
                Main CODM <br>
                Main Mobile Legends</dd>
            <dt><a href="">Pengalaman organisasi/kepanitiaan</a></dt>
            <dd>PO Compfest 2025</dd>
            <dt><a href="">Prestasi</a></dt>
            <dd>Juara 1 melanggar perintah Allah</dd>
        </dl>
    </div>
    <div class="containter">
        <div class="row" style="margin: 10px;">
            <div class="col">
                <h2>Beri Feedback untukku:</h2>
            </div>
            <div class="col">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }} 
                    <button type="submit" id="submit">Submit</button>
                </form>
            </div>
        </div>
        <div class="row" style="margin: 10px;">
            {% for i in Status %}
            <div class="col-sm">
                <h4 id="status">{{ i.status }}</h4>
                <p id="status">{{ i.date }}</p>
            </div>
            {% endfor %}
        </div>
    </div>

    <script src="{% static 'js/script.js' %}"></script>

</body>
</html>