html[data-theme='light'] {
    height: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    align-items: center;
    justify-items: center;

    --bg: #FCFCFC;
    --bg-panel: #EBEBEB;
    --color-headings: #0077FF;
    --color-text: #333333;
    --color-accordion: rgb(175, 183, 192);
    --color-border: #FFFFFF;
}

html[data-theme='dark'] {
    align-items: center;
    justify-items: center;

    --bg: #333333;
    --bg-panel: #434343;
    --color-headings: #3649FF;
    --color-text: #B5B5B5;
    --color-accordion: rgb(53, 57, 61);
    --color-border:#000000;
}

body {
    background-color: var(--bg);
}

.kontainer {
    background-color: var(--bg-panel);
    margin: 3em;
    padding: 3em;
    border-radius: 15px;

    display: grid;
    grid-template-columns: 80% auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "title switch"
    "content content";
}

h1 {
    margin-bottom: 10px;
    color: var(--color-headings);
}

h2 {
    color: var(--color-headings);
}

h4 {
    color: var(--color-headings);
}

p {
    color: var(--color-text);
    grid-area: content;
}

.container {
    display: grid;
}
input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 52px;
	height: 27px;
	background: grey;
	float: right;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: var(--color-headings);
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 45px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

.accordion {
    margin: 50px;
}

.accordion dt,
.accordion dd {
    padding: 10px;
    border: 1px solid var(--color-border);
}

.accordion dt a,
.accordion dd a{
    display: block;
    color: var(--color-text);
    font-weight: bold;
}

.accordion dt{
    background-color: var(--color-accordion);
}

.accordion dd{
    margin: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    font-size: 1rem;
    color: var(--color-text);
}

.accordion dd:last-of-type {
    border-bottom-width: 1px;
}
