<!DOCTYPE html>
<html>
{% load static %}
<head>
	<title>Home Page | Story 9</title>
</head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
<body>

	<div class="form">
		<h1>{{sapaan}}<br>{{please}} {{admin}}</h1>
		{% if log == "login" %}
		<button type="button" id="login" class="button button-block" onclick="window.location.href='{% url 'login' %}'">Log In / Sign Up</button>
		{% elif log == "logout" %}
		<button type="button" id="logout" class="button button-block" onclick="window.location.href='{% url 'logout' %}'">Log Out</button>
		{% endif %}
	</div>
	
</body>
</html>
