<!DOCTYPE html>
<html>
{% load static %}
<head>
	<title>Login Page | Story 9</title>
   
	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
	<!-- Custom styles -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
	<div class="form">
		<ul class="tab-group">
			<li class="tab active"><a id="title_login" href="#login">Log In</a></li>
			<li class="tab "><a id="title_signup" href="#signup">Sign Up</a></li>
			
		</ul>
		
		<div class="tab-content">
			<div id="login">   
				<h1>Welcome Back!</h1>
			
				<form method="POST">
					{% csrf_token %}
				
					<div class="field-wrap">
						<label>
						Username<span class="req">*</span>
						</label>
						<input type="text" name="username" id="username_login" required autocomplete="off"/>
					</div>
				
					<div class="field-wrap">
						<label>
						Password<span class="req">*</span>
						</label>
						<input type="password" name="password" id="password_login" required autocomplete="off"/>
					</div>
				
					<button type="submit" id="submit_login" class="button button-block">Log In</button>
				
				</form>
	
			</div>

			<div id="signup">   
				<h1>Sign Up for Free</h1>
				
				<form method="POST">
					{% csrf_token %}
					<div class="field-wrap">
						<label>
							Username<span class="req">*</span>
						</label>
						<input type="text" name="username" id="username_signup" required autocomplete="off" />
					</div>
					
					<div class="field-wrap">
						<label>
						Email Address<span class="req">*</span>
						</label>
						<input type="email" name="email" id="email_signup" required autocomplete="off"/>
					</div>
					
					<div class="field-wrap">
						<label>
						Set A Password<span class="req">*</span>
						</label>
						<input type="password" name="password" id="password_signup" required autocomplete="off"/>
					</div>
					
					<button type="submit" id="submit_signup" class="button button-block">SIGN UP</button>
					
				</form>
	
			</div>
			
		</div><!-- tab-content -->
		
	</div> <!-- /form -->
<script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
<script src = "{% static 'js/index.js' %}"></script>
<script src= "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> </script>
<script src= "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"> </script>
<script src= "https://use.fontawesome.com/releases/v5.0.8/js/all.js"> </script>
</body>
</html>
